body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,.8)), url(../img/burger-bg.webp);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: 100vw;
    font-size: 20px;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
form{
    border: 0.5px solid rgb(253, 241, 241);
    border-radius: 5px;
    padding: 1%;
}
div.burger-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.size-block{
    display: flex;
    justify-content: center;
}
.size-block label:hover{
    cursor: pointer;
}
.size-block p{
    margin: 0 30px;
}
div.stuffing-block{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.stuffing-block p{
    margin: 0 30px;
}
.stuffing-block label:hover{
    cursor: pointer;
}
div.toppings-item{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;
}
.button-toppings{
    margin: 0 2%;
}
p.button-burger{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
input.button-toppings{
    background: 0;
    border: 0.5px solid #ffc801;;
    border-radius: 4px;
    color: #ffc801;
    font-size: 25px;
    line-height: 1.5;
    width: 9%;
    outline: none;
}
input.button-toppings:hover{
    background-color: rgba(248, 252, 255, 0.575);
    outline: none;
    cursor: pointer;
}
input.button-toppings:active{
    background-color: rgba(248, 252, 255, 0.9);
    outline: none;
}
input.creat-burger-button{
    background: 0;
    border: 0.5px solid #ffc801;;
    border-radius: 4px;
    color: #ffc801;
    font-size: 25px;
    line-height: 1.5;
    outline: none;
    padding: 10px;
}
input.creat-burger-button:hover{
    background-color: rgba(248, 252, 255, 0.575);
    outline: none;
    cursor: pointer;
}
input.creat-burger-button:active{
    background-color: rgba(248, 252, 255, 0.9);
    outline: none;
}
div.info{
    margin: 15px 75px;
    text-align: center;
}
div.info-block{
    border: 0.5px solid rgb(253, 241, 241);
    border-radius: 5px;
}
div.home{
    margin: 2%;
}
.home a{
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
}
.view-info{
    width: 550px;
}
input.form_radio{
	display: none;
}
.label-size:before,
.label-stuffing:before {
    content: "";
    display: inline-block;
<<<<<<< HEAD
    width: 22px;
    height: 22px;
=======
    width: 20px;
    height: 20px;
>>>>>>> Сompleted the third task
    border: 3px solid #ffc801;
    border-radius: 50%;
    margin-right: 20px;
}

input.form_radio:checked + .label-size::before,
input.form_radio:checked + .label-stuffing::before
{
<<<<<<< HEAD
    background: url(../img/check-bg.png) 0 0 no-repeat;
    background-size: 20px 20px;
    background-position: 2px 1.33px;
}
.info-span{
    color: #ffc801;
    font-weight: bold;
}
input+label{
    display: flex;
    align-items: flex-end;
}
.count-season,
.count-mayonn{
    color: #ffc801;
    font-size: 25px;
    font-weight: 700;
}
.home a{
    color: #ffc801;
}
=======
    background-color: #ffc801;
}

>>>>>>> Сompleted the third task
